DATABASE_URL="postgresql://console_shop_backend:lboevset20011966@localhost:5432/prisonDB"
JWT_SECRET="prison_api_secret_key"
JWT_REFRESH_SECRET="prison_api_refresh_secret_key"
ADMIN_REGISTRATION_SECRET="super_secret_admin_registration_key"
PORT=3111